
    <div class="contaner">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <h2>XEM LỊCH HỌC</h2><br><br>
        </div>
        <form class="form-horizontal"  action="/sinhvien/xemlh"  >
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="form-group">
                    <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Năm học:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" id="namhochtml" name="namhoc" >
                            <option value="2021-2022" >2021-2022</option>
                            <option value="2022-2023" >2022-2023</option>
                            <option value="2023-2024"  >2023-2024</option>
                            <option value="2024-2025"  >2024-2025</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Học kì:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="form-control" id="hockyhtml" name="hocky">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <button type="submit" class="btn btn-info"> Chọn </button>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Tiết 1- 3</th>
                    <th>Tiết 4- 6</th>
                    <th>Tiết 7- 9</th>
                    <th>Tiết 10- 12</th>
                    <th>Tiết 13- 15</th>
                </tr>
            </thead>
            <tbody>
             
                <tr>
                    <th>Thứ 2</th>
                    <th>
                        <%=thu2_13_phong %> <br>
                        <%=thu2_13_malop%> <br>
                        <%=thu2_13_tenmon%> <br>
                        <%=thu2_13_gv%> 
                    </th>
                    <th>
                        <%=thu2_46_phong %> <br>
                        <%=thu2_46_malop%> <br>
                        <%=thu2_46_tenmon%> <br>
                        <%=thu2_46_gv%> 
                    </th>
                    <th>
                        <%=thu2_79_phong %> <br>
                        <%=thu2_79_malop%> <br>
                        <%=thu2_79_tenmon%> <br>
                        <%=thu2_79_gv%> 
                    </th>
                    <th>
                        <%=thu2_1012_phong %> <br>
                        <%=thu2_1012_malop%> <br>
                        <%=thu2_1012_tenmon%> <br>
                        <%=thu2_1012_gv%> 
                    </th>
                    <th>
                        <%=thu2_1315_phong %> <br>
                        <%=thu2_1315_malop%> <br>
                        <%=thu2_1315_tenmon%> <br>
                        <%=thu2_1315_gv%> 
                    </th>
                </tr>
                <tr>
                    <th>Thứ 3</th> 
                    <th>
                        <%=thu3_13_phong %> <br>
                        <%=thu3_13_malop%> <br>
                        <%=thu3_13_tenmon%> <br>
                        <%=thu3_13_gv%> 
                    </th>
                    <th>
                        <%=thu3_46_phong %> <br>
                        <%=thu3_46_malop%> <br>
                        <%=thu3_46_tenmon%> <br>
                        <%=thu3_46_gv%> 
                    </th>
                    <th>
                        <%=thu3_79_phong %> <br>
                        <%=thu3_79_malop%> <br>
                        <%=thu3_79_tenmon%> <br>
                        <%=thu3_79_gv%> 
                    </th>
                    <th>
                        <%=thu3_1012_phong %> <br>
                        <%=thu3_1012_malop%> <br>
                        <%=thu3_1012_tenmon%> <br>
                        <%=thu3_1012_gv%> 
                    </th>
                    <th>
                        <%=thu3_1315_phong %> <br>
                        <%=thu3_1315_malop%> <br>
                        <%=thu3_1315_tenmon%> <br>
                        <%=thu3_1315_gv%> 
                    </th>
                </tr>
                <tr>
                    <th>Thứ 4</th>
                    <th>
                        <%=thu4_13_phong %> <br>
                        <%=thu4_13_malop%> <br>
                        <%=thu4_13_tenmon%> <br>
                        <%=thu4_13_gv%> 
                    </th>
                    <th>
                        <%=thu4_46_phong %> <br>
                        <%=thu4_46_malop%> <br>
                        <%=thu4_46_tenmon%> <br>
                        <%=thu4_46_gv%> 
                    </th>
                    <th>
                        <%=thu4_79_phong %> <br>
                        <%=thu4_79_malop%> <br>
                        <%=thu4_79_tenmon%> <br>
                        <%=thu4_79_gv%> 
                    </th>
                    <th>
                        <%=thu4_1012_phong %> <br>
                        <%=thu4_1012_malop%> <br>
                        <%=thu4_1012_tenmon%> <br>
                        <%=thu4_1012_gv%> 
                    </th>
                    <th>
                        <%=thu4_1315_phong %> <br>
                        <%=thu4_1315_malop%> <br>
                        <%=thu4_1315_tenmon%> <br>
                        <%=thu4_1315_gv%> 
                    </th>
                </tr>
                   
                <tr>
                   <th>Thứ 5</th>
                   <th>
                    <%=thu5_13_phong %> <br>
                    <%=thu5_13_malop%> <br>
                    <%=thu5_13_tenmon%> <br>
                    <%=thu5_13_gv%> 
                    </th>
                    <th>
                        <%=thu5_46_phong %> <br>
                        <%=thu5_46_malop%> <br>
                        <%=thu5_46_tenmon%> <br>
                        <%=thu5_46_gv%> 
                    </th>
                    <th>
                        <%=thu5_79_phong %> <br>
                        <%=thu5_79_malop%> <br>
                        <%=thu5_79_tenmon%> <br>
                        <%=thu5_79_gv%> 
                    </th>
                    <th>
                        <%=thu5_1012_phong %> <br>
                        <%=thu5_1012_malop%> <br>
                        <%=thu5_1012_tenmon%> <br>
                        <%=thu5_1012_gv%> 
                    </th>
                    <th>
                        <%=thu5_1315_phong %> <br>
                        <%=thu5_1315_malop%> <br>
                        <%=thu5_1315_tenmon%> <br>
                        <%=thu5_1315_gv%> 
                    </th>
                </tr>
                <tr>
                        <th>Thứ 6</th>
                        <th>
                            <%=thu6_13_phong %> <br>
                            <%=thu6_13_malop%> <br>
                            <%=thu6_13_tenmon%> <br>
                            <%=thu6_13_gv%> 
                        </th>
                        <th>
                            <%=thu6_46_phong %> <br>
                            <%=thu6_46_malop%> <br>
                            <%=thu6_46_tenmon%> <br>
                            <%=thu6_46_gv%> 
                        </th>
                        <th>
                            <%=thu6_79_phong %> <br>
                            <%=thu6_79_malop%> <br>
                            <%=thu6_79_tenmon%> <br>
                            <%=thu6_79_gv%> 
                        </th>
                        <th>
                            <%=thu6_1012_phong %> <br>
                            <%=thu6_1012_malop%> <br>
                            <%=thu6_1012_tenmon%> <br>
                            <%=thu6_1012_gv%> 
                        </th>
                        <th>
                            <%=thu6_1315_phong %> <br>
                            <%=thu6_1315_malop%> <br>
                            <%=thu6_1315_tenmon%> <br>
                            <%=thu6_1315_gv%> 
                        </th>
                </tr>

                <tr>
                    <th>Thứ 7</th>
                    <th>
                        <%=thu7_13_phong %> <br>
                        <%=thu7_13_malop%> <br>
                        <%=thu7_13_tenmon%> <br>
                        <%=thu7_13_gv%> 
                    </th>
                    <th>
                        <%=thu7_46_phong %> <br>
                        <%=thu7_46_malop%> <br>
                        <%=thu7_46_tenmon%> <br>
                        <%=thu7_46_gv%> 
                    </th>
                    <th>
                        <%=thu7_79_phong %> <br>
                        <%=thu7_79_malop%> <br>
                        <%=thu7_79_tenmon%> <br>
                        <%=thu7_79_gv%> 
                    </th>
                    <th>
                        <%=thu7_1012_phong %> <br>
                        <%=thu7_1012_malop%> <br>
                        <%=thu7_1012_tenmon%> <br>
                        <%=thu7_1012_gv%> 
                    </th>
                    <th>
                        <%=thu7_1315_phong %> <br>
                        <%=thu7_1315_malop%> <br>
                        <%=thu7_1315_tenmon%> <br>
                        <%=thu7_1315_gv%> 
                    </th>
                </tr>
                <tr>
                    <th>Chủ nhật</th>
                    <th>
                        <%=chunhat_13_phong %> <br>
                        <%=chunhat_13_malop%> <br>
                        <%=chunhat_13_tenmon%> <br>
                        <%=chunhat_13_gv%> 
                    </th>
                    <th>
                        <%=chunhat_46_phong %> <br>
                        <%=chunhat_46_malop%> <br>
                        <%=chunhat_46_tenmon%> <br>
                        <%=chunhat_46_gv%> 
                    </th>
                    <th>
                        <%=chunhat_79_phong %> <br>
                        <%=chunhat_79_malop%> <br>
                        <%=chunhat_79_tenmon%> <br>
                        <%=chunhat_79_gv%> 
                    </th>
                    <th>
                        <%=chunhat_1012_phong %> <br>
                        <%=chunhat_1012_malop%> <br>
                        <%=chunhat_1012_tenmon%> <br>
                        <%=chunhat_1012_gv%> 
                    </th>
                    <th>
                        <%=chunhat_1315_phong %> <br>
                        <%=chunhat_1315_malop%> <br>
                        <%=chunhat_1315_tenmon%> <br>
                        <%=chunhat_1315_gv%> 
                    </th>
                </tr>

            </tbody>
        </table>



        <% if(namhoc=="2021-2022"){ %>
            <script>
                  $('#namhochtml').val("2021-2022");
            </script>
         <% } %>
         <% if(namhoc=="2022-2023"){ %>
            <script>
                  $('#namhochtml').val("2022-2023");
            </script>
         <% } %>
         <% if(namhoc=="2023-2024"){ %>
            <script>
                  $('#namhochtml').val("2023-2024");
            </script>
         <% } %>
         <% if(namhoc=="2024-2025"){ %>
            <script>
                  $('#namhochtml').val("2024-2025");
            </script>
         <% } %>
    
         <% if(hocky==1){ %>
            <script>
                  $('#hockyhtml').val(1);
            </script>
         <% } %>
         <% if(hocky==2){ %>
            <script>
                  $('#hockyhtml').val(2);
            </script>
         <% } %>
         <% if(hocky==3){ %>
            <script>
                  $('#hockyhtml').val(3);
            </script>
         <% } %>
         <% if(hocky==4){ %>
            <script>
                  $('#hockyhtml').val(4);
            </script>
         <% } %>    
    </div>
    
